{% set count = 0 %}

{% if page.jumbo_footer_1 is defined and page.jumbo_footer_1 | render | striptags | trim %}
  {% set count = count + 1 %}
{% endif %}
{% if page.jumbo_footer_2 is defined and page.jumbo_footer_2 | render | striptags | trim %}
  {% set count = count + 1 %}
{% endif %}
{% if page.jumbo_footer_3 is defined and page.jumbo_footer_3 | render | striptags | trim %}
  {% set count = count + 1 %}
{% endif %}
{% if page.jumbo_footer_4 is defined and page.jumbo_footer_4 | render | striptags | trim %}
  {% set count = count + 1 %}
{% endif %}

<footer>
  <h2 class="sr-only">Footer links</h2>
  <div class="container">
    {% if count > 0 %}
      {% set jumbo_content_class = 12 / count %}
      <div class="row">
        {% if page.jumbo_footer_1 is defined and page.jumbo_footer_1 | render | striptags | trim %}
          <div class="col-sm-6 col-md-{{ jumbo_content_class }}">
            {{ page.jumbo_footer_1 }}
          </div>
        {% endif %}
        {% if page.jumbo_footer_2 is defined and page.jumbo_footer_2 | render | striptags | trim %}
          <div class="col-sm-6 col-md-{{ jumbo_content_class }}">
            {{ page.jumbo_footer_2 }}
          </div>
        {% endif %}
        {% if page.jumbo_footer_3 is defined and page.jumbo_footer_3 | render | striptags | trim %}
          <div class="col-sm-6 col-md-{{ jumbo_content_class }}">
            {{ page.jumbo_footer_3 }}
          </div>
        {% endif %}
        {% if page.jumbo_footer_4 is defined and page.jumbo_footer_4 | render | striptags | trim %}
          <div class="col-sm-6 col-md-{{ jumbo_content_class }}">
            {{ page.jumbo_footer_4 }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="row">
      {% set coa_footer_class = 'col-md-12' %}
      {% if coa_bottom is defined %}
        {% set coa_footer_class = 'col-md-9' %}
        <div class="col-md-3">
          <img src="{{ coa_bottom }}" alt="Australian Government" width="163">
        </div>
      {% endif %}
      <div class="{{ coa_footer_class }}">
        {{ page.footer }}
        {% if footer_copyright is defined %}
          <small>
            &copy;
            {{ footer_copyright }}
          </small>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
