<article{{ attributes.addClass('row').addClass('blog-article-teaser') }}>
    <div class="media">
        <div class="media-left text-center">
            {{ content.field_featured_image }}
        </div>
        <div class="media-body">
            {{ title_prefix }}
            {% if not page %}
                <h2{{ title_attributes.addClass('media-heading') }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h2>
            {% endif %}
            {{ title_suffix }}
            {% if display_submitted %}
                <small{{ author_attributes.addClass('meta') }}>
                    <i class="fa fa-clock-o"></i> Posted <time datetime="{{ date_timestamp }}" title="{{ date_readable }}">{{ date }} ago</time> by {{ author_name }}
                </small>
            {% endif %}
            {{ content.field_categories }}
            {{ content.body }}
        </div>
    </div>
</article>
