<article{{ attributes.addClass('row').addClass('event-teaser') }}>
    <div class="media">
        <div class="media-left text-center">
            {% if node.field_date_range is not empty %}
                <span class="fa-stack fa-5x">
                  <i class="fa fa-calendar-o fa-stack-2x"></i>
                  <strong class="fa-stack-1x calendar-day-text">{{ node.field_date_range.start_date|date('j') }}</strong>
                  <strong class="fa-stack-1x calendar-month-text">{{ node.field_date_range.start_date|date('M')|upper }}</strong>
                </span>
            {% else %}
                {{ content.field_featured_image }}
            {% endif %}
        </div>
        <div class="media-body">
            {{ title_prefix }}
            {% if not page %}
                <h2{{ title_attributes.addClass('media-heading') }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h2>
            {% endif %}
            {{ title_suffix }}
            {% if content.field_date_range %}
            <small class="meta">
                {{ content.field_date_range }}
            </small>
            {% endif %}
            {% if content.field_location %}
            <small class="meta">
                {{ content.field_location }}
            </small>
            {% endif %}
            {{ content.field_categories }}
            {{ content.body }}
        </div>
    </div>
</article>
