<article{{ attributes }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <small{{ author_attributes.addClass('meta') }}>
            <i class="fa fa-clock-o"></i> Posted <time datetime="{{ date_timestamp }}">{{ date }} ago</time> by {{ author_name }}
        </small>
    {% endif %}

    <div{{ content_attributes }}>
        {{ content }}
    </div>

</article>
